div.requirements
  form#req-form
    fieldset
      h2 Personal Information
      input(type="text" placeholder="Name")
      input(type="email" placeholder="Email")
    fieldset
      h2 Account Information
      input(type="text" placeholder="Name")
      input(type="email" placeholder="Email")
    fieldset
      h2 Submit
      input(type="text" placeholder="Name")
      <input id="SaveAccount" class="button" type="button" value="Submit form" />
    